.idea/
module/*.js
entities/*.js
view/*.js
view/header/*.js
view/header/list/*.js
view/tables/*.js
view/tables/content/*.js
view/tables/content/header/*.js
view/tables/content/detail/*.js
view/tables/sidebar/*.js
collection/*.js
model/*.js
templates/*.js
templates/header/*.js
templates/table/*.js
templates/table/content/*.js
templates/table/content/header/*.js
templates/table/content/detail/*.js
templates/table/sidebar/*.js

