.idea/
app/*.js
app/header/*.js
app/header/list/*.js
app/tables/*.js
app/tables/content/*.js
app/tables/content/header/*.js
app/tables/content/detail/*.js
app/tables/sidebar/*.js
collection/*.js
model/*.js
templates/*.js
templates/header/*.js
templates/table/*.js
templates/table/content/*.js
templates/table/content/header/*.js
templates/table/content/detail/*.js
templates/table/sidebar/*.js

