/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Global add-ons
 */
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Global loading
 */
.loading {
  padding: 30px 0;
  text-align: center;
}
.loading span {
  padding-left: 20px;
  height: 44px;
  background: url("../images/loading.gif") no-repeat 0 50%;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}
/*
 * Main content
 */
.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
/*
 *
 */
.container-sidebar {
    width: 160px;
}

/*
 * Table content
 */
.table_content {
    margin-left: 170px;
}
.table_content .header_list {
    margin-top: 10px;
    margin-left: 10px;
}
.create_view {
    margin-left: 10px;
    margin-top: 10px;
    width: 80%;
}
.table_name {
    width: 200px;
}
.delete_field {
    margin-left: 30px;
}
.field {
    margin-top: 20px;
}
.footer{
    margin-top: 20px;
    width: 80%;
}
.delete_table {
    margin-top: 20px;
    margin-left: 10px;
    width: 100%;
}
#content_region_detail {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 40px;
}
#item_list {
    margin-top: 10px;
    margin-bottom: 50px;
}
div.table-items-detail {
    width: 800px;
    max-height: 600px;
}

/*
table
*/
.table {
    width: auto;
}
.table-header-index {
    min-width: 60px;
}
.table-header-row {
    min-width: 150px;
}
.table-operation {
    margin-top: 8px;
    margin-right: 10px
}
.table-date-set {
    margin-top: 8px;
    width: 200px;
}
#set-date {
    width: 100px;
    margin-right: 20px;
    float: none;
}
#filter_by_created_on {
    float: none;
    border-radius: 3px;
}
.table-items-detail-content {
    max-width: 800px;
    max-height: 600px;
}
.table-items-detail-content-header {
    max-width: 800px;
    height: 36px;
    -ms-overflow: hidden; /* for ie */
    overflow: hidden;

    position: absolute;
    top: 264px;
    left: 180px;
    background-color:white;
}
.table-items-detail-content-main {
    max-width: 800px;
    max-height: 600px;
    overflow: auto;
}
.table-items-detail-content-main-row-div {
    padding:0px;
    border:1px solid #e0e0e0;
    -webkit-border-radius: 3px;
    width: 130px;
    background-color: #ffffff;
}
.table-items-detail-content-main-row-div-row {
    width: 100%;
    height: 120%;
    border: none;
    background-color: #ffffff;
}
input.table_checkbox {
    position: relative;
    margin-left: 19px
}